.process-wrapper {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.process {
  top: -7px;
  margin-bottom: 83px;
}

.process-header {
  font-size: 22px;
  color: black;
  padding: 36px 60px;
}

.bar {
  height: 17px;
  background-color: var(--color-bg-secondary);
}

.progress-bar {
  height: 17px;
  background-color: var(--color-primary);
}

.process-collapse-title {
  font-size: 22px;
}

.collapse-arrow > .collapse-title:after {
  color: var(--color-primary);
}

.collapse.active {
  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 10px 0px rgba(125, 151, 255, 0.3);
  border-radius: 0;
}
